<%- include("../partials/_header") %>

<h1><%= title %></h1>

<p>Do you really want to delete this Person?</p>

<form action="/person/delete/<%= person.id %>" method="post">
    <button>Delete</button>
</form>
<br />
<div>
    <a href="<%= referrer %>">Back</a>
</div>

<%- include("../partials/_footer") %>
