<%- include("../partials/_header") %>

<h1><%= title %></h1>

<p>
    Do you really want to delete:
    <strong
        ><%= person.firstname %> <%= person.lastname %> (<%= person.birthday
        %>)</strong
    >?
</p>

<form action="/person/delete/<%= person.id %>" method="post">
    <%- csrfTokenInputField(csrfToken) %>
    <button>Delete</button>
</form>
<br />
<div>
    <a href="<%= referrer %>">Back</a>
</div>

<%- include("../partials/_footer") %>
